body {
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
margin: 0 auto;
background: url('http://www.myaucdata.com/bootcamp/bg-2.jpg');

}


@media (min-width: 768px) {

.container {
margin: 0 auto;
width: 768px;
background: #fff;
margin-bottom: 40px;
margin-top: 40px;
position: inline-block;
background: url('http://www.myaucdata.com/bootcamp/bg-grey.jpg');


}
#container-header {

height: 100px;

}
#left-header {
float: left;
width: 384px;
height: 90px;
display: inline-block;
background: #fff;


position: relative;
border-bottom: 3px solid #ddd;
}
#right-header {
float: left;
width: 384px;
height: 90px;
display: inline-block;
background: #fff;
border-bottom: 3px solid #ddd;

position: relative;
}
#left-content {
     
float: left;
width: 730px;
margin-top: 40px;
display: inline-block;

margin-left: 22px;


}
#left-content-inner {

width: 694px;
background: #fff;
display: inline-block;
padding-top: 40px;
padding-left: 32px;
color: #777;
text-align: justify;
border: 2px solid #ddd;
padding-bottom: 75px;
}
#right-content{
     
     display: inline-block;
     float: left;
     margin-bottom: 10px;

width: 690px;

margin-left: 20px;
margin-top: 40px;
}
#footer-content {

width: 768px;
height: 55px;
display: inline-block;
position: relative;
bottom: 0;
background: #666;
margin-top: 30px;
border-top: 10px solid #4aaaa6;
text-align: center;
padding-top: 35px;
color: #fff;
font-size: 12px;


}
#connect {
height: 160px;
width: 708px;
background: #fff;
padding-left: 20px;
padding-top: 20px;
border: 2px solid #ddd;
}
h1 {
margin: 0;
margin-bottom: 20px;
padding: 20px 0;
font-size: 32px;
color: #fff;
text-align: center;
background: #333333;
font-family: "Georgia", Times New Roman, Times, serif;


}
h2 {
font-size: 24px;
text-align: left;
color: #4aaaa5;
margin: 0;
font-family: "Georgia", Times New Roman, Times, serif;
font-weight: 800;
}
h4 {
font-size: 20px;
font-weight: 800;
text-align: left;
color: #4aaaa5;
margin: 0;
font-family: "Georgia", Times New Roman, Times, serif;
}
a {
color: #777;
text-decoration: none;
}
a:hover {
opacity: .5;
text-decoration: underline;

}
hr {
width: 96%;
float: left;
border: 1.5px solid #ddd;
margin-top: 30px;
margin-bottom: 30px;
}
textarea {
border: 1px solid #ddd;
width: 96%;
height: 180px;
}
input {
width: 96%;
height: 25px;
border: 1px solid #ddd;

}
.me {
width: 200px;
height: 43px;
background: #4aaaa5;
position: absolute;

margin-left: 20px;

padding: 21px;
padding-top: 26px;




}
.nav-bar {

font-size: 20px;

margin-top: 40px;
color: #777;
}
#bio-image {

width: 335px;

margin-bottom: 30px;
margin-right: 20px;
float: left;





}
#bio-text {

line-height: 150%;
margin-right: 20px;
margin-top: 20px;

}
.social {

float: left;


}
#contact-form {
line-height: 150%;

}
.submit-button {
width: 100px;
height: 40px;
background: #4aaaa5;
float: left;
color: #fff;
border: 0px;
font-size: 18px;
}
.port-box {

width: 310px;
height: 364px;
background: #ddd;
border: 1px solid #ddd;
margin-top: 30px;
margin-right: 35px;
display: inline-block;
position: static;

float:left;


}
.port-box-header {
position: relative;
width: 310px;
height: 40px;
background: #4aaaa5;
top: -70px;
color: #fff;
text-align: center;
padding-top: 15px;
font-size: 20px;

}
.box-img {

width: 310px;
height: 364px;
}

}